
*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{ 
    font-family: 'Dancing Script', cursive;
    background-color: #080c15;
    background-image: url(/Space_Invasion_Math_Game/img/cosmoplanetbackground.jpg);
    background-repeat: no-repeat no-repeat;
    background-size: cover;
    max-height: 100%;

}

/* ----------------------------- */
#spaceShips
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.ships
{
    background-image: url(/Space_Invasion_Math_Game/img/3DSS.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:175px;
    height: 125px;
    font-size: 2.5rem;
    font-weight: bolder;
    padding-top: 10px;
    color: gold;
    text-align: center;
}

/* ----------------------------- */
#shooter
{
    background-image: url(/Space_Invasion_Math_Game/img/Gun.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:80px;
    height: 150px;
    font-size: 2rem;
    font-weight: bolder;
    color: #21d8df;
    position: absolute ;
    bottom: 0px;    
}

/* ----------------------------- */
#currentStatus /* Footer */
{
    background-color: teal;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 3fr;
    align-content: center;
    position: absolute;
    bottom: 0;
    border-style: double;
    min-width: 100vw;
}

#currentStatus > div
{
    padding: 0px 10px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

/* ----------------------------- */
/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    
}


    /* Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) { ... }

    /*Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) { ... }

    /*  Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
        
    }

    @media (max-width: 1240px) {

    }
    */