*
{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

body
{ 
    font-family: 'Dancing Script', cursive;
    background-image: url(/Space_Invasion_Math_Game/img/cosmoplanetbackground.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
   
}

/* ----------------------------- */
#spaceShipsContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100vw;
    padding-top: 20px;
}

.ships
{
    background-image: url(/Space_Invasion_Math_Game/img/3DSS.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 90%;
    min-height: 200px;
    font-size: 3.5rem;
    font-weight: bolder;
    color: gold;
    text-align: center;
}

/* ----------------------------- */

#cannonContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100vw;
    position: absolute;
    bottom: 0px;       
}

#cannon
{
    background-image: url(/Space_Invasion_Math_Game/img/Gun.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width:80px;
    height: 150px;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #21d8df;
    grid-column-start: 3;
    text-align: center    
}

#actionContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    width: 100vw;
    bottom: 150px;
    position: absolute;
}

#initialShot
{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 55px;
    height: 60px;
    position: relative;
    grid-column: 2;
}

#contactWithSship
{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 125px;
    height: 175px;
    position: relative;
    grid-column: 2;
    bottom: 0px;
}

/* ----------------------------- */
#currentStats /* Footer */
{
    background-color: teal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: center;
    position: absolute ;
    bottom: 0px;
    border-style: double;
    width: 100%;
}

#currentStats > div
{
    padding: 0px 10px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
}

/* ----------------------------- */
/*  Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 


 min-width: 100vw;

}
    /* Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) { ... }

    /*Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) { ... }

    /*  Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) {
        
    }

    @media (max-width: 1240px) {

    }
    */