*
{
    margin:0;
    padding:0;
    box-sizing: border-box;   
}

body
{ 
    font-family: 'Dancing Script', cursive;
    background-image: url(/img/milkywaybg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    color: white;
}

h1
{
    margin-top: 30px;
    font-size: 4rem; 
    text-align: center;
}

section
{
    background-image: url(/img/+-.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;;
    margin: 0 10% 0 10%;
    height: 40vh;
}

main
{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 100px;
}

label
{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    color: yellow;
    margin: 0 100px;


}

input
{
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    color: yellow;
    margin: 0 20%;
    background-color: teal;

}

button
{
    color: black;
    border-radius: 5px;
    justify-self: center;
    font-size: 2.5rem;
    margin: 5px 0;
    padding: 5px 50px;
    background-color: teal;
    font-family: 'Dancing Script', cursive;
}

footer
{
    margin-top: 20px;
    text-align: center;
    font-size: 2rem; 
}

